body {
	font-family: sans-serif;
	font-size: 13px;
}

a, a:hover, a:visited {
	color: #000;
    text-decoration:none;
}

div.guide-hd {
    border-bottom: 1px solid #CCC;
    color: #222;
    font-weight: normal;
    height: 24px;
    min-width: 400px;
    max-width:inherit;
    padding-left: 4px;
}
  
h1 {
    font-size: 14px;
    font-weight: bold;
    text-shadow: white 0 1px 2px;
    margin: 0;
    line-height: 24px;
    position: relative;
    left: -4px;
}

#message {
	color: #F00;
    font-style:italic;
}

#wrapper {
    float:left;
}

/*------------------------------------*\
	$INIT
\*------------------------------------*/
#init {
	
}


/*------------------------------------*\
	$LOGIN
\*------------------------------------*/
#login {
	display: none;
}

input {
	font-size: 16px;
	color: #999;
	border: 1px solid;
	padding: 3px;
	outline: none;
}

button {
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	font: bold 11px Helvetica, Arial, sans-serif;
	color: #FFF;
	line-height: 17px;
	margin: 5px 0px 5px 2px;
	padding: 5px 6px 4px 6px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: border-color .20s;
	transition: border-color .20s;
	height: 29px ;
	cursor: pointer;
	border: 1px solid #D14836;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
    float:left;
}

button:hover {
	border: 1px solid #B0281A !important;
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
}


/*------------------------------------*\
	$BOOKMARKS
\*------------------------------------*/
#bookmarks {
	display: none;
}

.bookmark {
	padding: 3px;
}

.bookmark:hover {
	background-color: #efefef;
}

.favIcon {
	height: 16px;
	width: 16px;
	margin-right: 5px;
    margin-left:21px;
    float:left;
    vertical-align:middle;
    border:0px solid white;
}

.delete {
	margin-right: 5px;
    float:left;
    display:none;
    vertical-align:bottom;
}

.title {
	text-decoration: none;
}

.optIcons {
	float: right;
	margin-left: 5px;
    vertical-align:middle;
}

p {
	color: #999;
	font-style: italic;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin-bottom:3px; padding: 0.4em; }
#sortable li:hover { background-color: #efefef; cursor:pointer}
#sortable li span { position: absolute; }